<nav class="w-screen px-44 bg-blue-500 flex justify-between items-center">
  <div>
    <div class="relative">
      <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
        <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
          <path
            d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>

      <input
        class="
          w-full
          border
          rounded-md
          pl-10
          pr-4
          py-2
          focus:border-blue-500 focus:outline-none focus:shadow-outline
        "
        type="text"
        placeholder="Search"
      />
    </div>
  </div>
  <div class="text-white">Rex Shop</div>
  <div>
    <ul class="list-none flex justify-between">
      <a routerLink="/home">
        <li class="p-3 text-white hover:text-indigo-100">Home</li>
      </a>
      <!-- <a routerLink="/about">
        <li class="p-3 text-white hover:text-indigo-100">about</li>
      </a> -->
      <a routerLink="/product">
        <li class="p-3 text-white hover:text-indigo-100">product</li>
      </a>
      <a routerLink="/cart">
        <li class="p-3 text-white hover:text-indigo-100">cart</li>
      </a>
      <a routerLink="/order">
        <li class="p-3 text-white hover:text-indigo-100 focus:outline-none">
          <svg
            class="h-5 w-5"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
            ></path>
          </svg>
        </li>
      </a>
    </ul>
  </div>
</nav>
<div class="flex bg-white justify-around px-44 py-2 border">
  <span>T-shirt.</span>
  <span>Jacket</span>
  <span>Trouser</span>
  <span>Jogger</span>
  <span>Trainers</span>
  <span>Jeans</span>
</div>
