<div class="product-card">
  <a routerLink="/product/{{ pid }}">
    <div class="">
      <img src="{{ img }}" alt="" class="img-fluid" />
    </div>
    <div class="product-body">
      <span class="title">{{ title }}</span>
      <span class="stock">IN STOCK</span>
      <div class="flex items-center">
        <div class="flex items-center">
          <div *ngFor="let star of stars">
            <svg
              class="mx-1 w-4 h-4 fill-current text-yellow-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"
              />
            </svg>
          </div>
          <span class="sub-star">{{ stars.length }}</span>
        </div>
      </div>
      <div class="price-box">
        <span class="sub-discount">₹{{ discount }}</span>
        <span class="price">₹{{ price }}</span>
      </div>
    </div>
  </a>
</div>
