<main class="bg-white">
  <aside class="mx-2" id="filterOption">
    <div class="text-sm filter-card">Filter</div>
    <div class="filter-card">
      <div class="text-xs">Categories</div>
      <ul>
        <li>Fashion Accessories</li>
      </ul>
    </div>
    <div class="filter-card">
      <label>
        Order by Price:
        <select
          className="form-control"
          (change)="changeOrder(filterHighLow)"
          #filterHighLow
        >
          <option value="lowestprice">Lowest to highest</option>
          <option value="highestprice">Highest to lowest</option>
        </select>
      </label>

      <label>
        Gender
        <select
          className="form-control"
          #filterGender
          (change)="changeGender(filterGender.value)"
        >
          <option value="Select">ALL</option>
          <option value="Men">Male</option>
          <option value="Women">Female</option>
        </select>
      </label>

      <label>
        Filter Size
        <select
          className="form-control"
          #filterSize
          (change)="changeSize(filterSize.value)"
        >
          <option value="ALL">ALL</option>
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          <option value="XXL">XXL</option>
        </select>
      </label>
    </div>
  </aside>
  <section class="mx-2 px-2">
    <h6 class="my-2">Fashion Accessories</h6>
    <!-- <hr /> -->
    <div class="productFlex mb-3">
      <div *ngFor="let prod of product" class="product">
        <app-single-product
          pid="{{ prod.id }}"
          title="{{ prod.name }}"
          img="{{ prod.main_img }}"
          price="{{ prod.price | number }}"
          discount="{{ prod.price + 200 | number }}"
        ></app-single-product>
      </div>
    </div>
  </section>
</main>
