@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */
body {
  /* overflow-y: hidden; */
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
* {
  font-size: 18px;
}
.filter-card {
  @apply px-3 py-2 border-b-2;
}
